body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 80vh;
    background: url('image1.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #f1f1f1; 

}


.container {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.circle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.circle {
    width: 100px;
    height: 100px;
    background-image: url('circle.jpg');
    background-size: cover;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
    border: 1px solid #333; 
   
    
}

.circle:hover {
    transform: scale(1.1); 
    filter: brightness(90%); 
}

.circle.clicked {
    background-image: url('cross.jpg');
}

h1{
    font-size: 60px;
}

p{
    font-size: 30px;
}

#message {
    font-size: 29px;
    color: white;
}
